<h1>Your request has been completed</h1>
<h2>Here is your customized card!</h2>
<div class = "custom_card_container">
    <image class = "card_image">
        <%= image_tag("customBill.png", :alt => "Your custom card", :class => "custom_card")%>    
    </image>
</div>